@import url('https://fonts.googleapis.com/css?family=Arvo');

body {
  background: #d7de57;
  background-color: rgba(196, 84, 47, 1);
  overflow: hidden;
  text-align: left;
  padding: 0.3em;
  background-color: green;
  color: blue;
}

.dark-mode {
  background-color: rgba(212, 214, 81, 1);
  color: black;
}

.bigTitle {
  font-family: 'Arvo', serif;
  font-weight: bold;
  font-size: 4em;
  margin-bottom: 0.1em;
  margin-left: 0.3em;
}

.beegyoshi {
  display: inline-flex;
  align-self: center;
}

.penguin {
  display: inline-flex;
  align-self: center;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.subTitle {
  overflow: visible;
  font-family: 'Arvo', sans-serif;
  font-size: 1.4em;
  margin-top: 0.5em;
  margin-bottom: 2vh;
}

.subTitle-container {
  max-width: 70vw;
  max-height: 70vh;
  margin: 0 auto;
}

.button {
  background-color: #262623;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 2vh 2.5vw;
  font-size: 1.2em;
  border-radius: 0.8em;
  font-family: 'Arvo', serif;
}

.button:hover {
  background-color: rgba(38, 38, 35, 1);
  animation: btn-hover 0.5s;
  cursor: grab;
}

@keyframes btn-hover {
  from { background-color: #262623 }
  to { background-color: rgba(38, 38, 35, 1) }
}
